button.listingbutton {
    background-color: #70c773;
    color: white;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 50%;
    right: 20px; 
    transform: translateY(-1300%); /* Center vertically */
    z-index: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
button.listingbutton:hover {
    background-color: #45a049; /* Darker green color on hover */
  }