.box-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
    transform: translateY(-100%);
  }
  
  .box {
    color: #790707;
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #3498db; /* Adjust the background color as needed */
}
