button.loginbutton:hover {
    background-color: #045f08; /* Darker green color on hover */
}

button.loginbutton {
    background-color: #059c4c !important; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }